.button {
    background-color: green;
    border-radius: 5px;
    border-style: none;
    padding: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-right: 5px;

}
#button-container {
    display: none;
}
.question-container {
    margin: 120px 120px 20px 120px;
    display: none;
}
.question-num {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 10px;
    margin: 5px;
    border: 1px;
    border-radius: 5px;
    border-color: green;
    border-style: solid;
}
.main-question {
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}
.question-code {
    font-family: 'Courier New', Courier, monospace;
    margin: 5px;
    padding: 10px 10px 15px 15px;
    background-color: rgb(190, 193, 195);
    border-radius: 10px;
}
.sub-question {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
.choices {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 15px;
}
.choice {
    margin: 5px;
}
.navigation-button {
    padding-left: 120px;
    display: flex;
}
.main-menu1 {
    display: none;
}

.main-menu2 {
    display: none;
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #f5f6fa;
}

.wrapper .sidebar{
    background: rgb(5, 68, 104);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}


.wrapper .sidebar ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #10558d;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}

.wrapper .sidebar ul li a .icon{
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
    color: #0c7db1;

    background:white;
    border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
    color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
    display: block;
}

